.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___text {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  font-size: 1.2rem;
}